header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-page{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 60%;
  margin: 3px auto;

}
.l-img,.c-img{
  width: 100%;
}
.c-page,.c-page2{
  display: flex;
  border: 1px solid black;
  margin: auto;
  width: 30%;
}
.content{
  display: flex;
}